{% from 'components/field.html' import render_field %}
{% extends "layout.html" %}

{% block title %}{% trans %}New group{% endtrans %}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <form method="POST" action="{{ request.url }}">
        <div>
            <div class="panel panel-default" style="width: 45%; float: left;">
                <table class="table" id="panel1">

                </table>
            </div>
            <div style="width: 10%; float: left; text-align: center">
                <a class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a><br>
                <a class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
            <div class="panel panel-default" style="width: 45%; float: left;">
                <table class="table" id="panel2">
                    <tr><td>(empty)</td></tr>
                </table>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <script>
        var users = [
            {% for user in users %}
                "{{ user.username }}",
            {% endfor %}
        ];
        function init(){
            for(var i=0; i<users.length; i++){
                var str = "<tr><td>";

                str += users[i];

                str += "</td></tr>";
                document.getElementById("panel1").innerHTML += str;
            }
        }
    </script>
{% endblock %}

