{% from 'components/field.html' import render_field %}
{% extends "layout.html" %}

{% block title %}{% trans %}New group{% endtrans %}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div>
        <div style="width: 45%; float: left;">
            <table class="table table-bordered" id="panel1">

            </table>
        </div>
        <div style="width: 10%; float: left; text-align: center">
            <button id="btn-right" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button><br>
            <button id="btn-left" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
        <div style="width: 45%; float: left;">
            <table class="table" id="panel2">
                <tr><td>(empty)</td></tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        var users = {{ pole|safe }}

        $(document).ready(function() {
            var table = $('#panel1').DataTable( {
                data: users,
                columns: [
                    { title: "Name" }
                ]
            } );

            $('#panel1 tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );

            $('#btn-right').click( function () {
                console.log(table.rows('.selected').data());
            } );

            $('#btn-left').click( function () {
                console.log(table.rows('.selected').data());
            } );

        } );
    </script>
{% endblock %}

