{% extends 'layout.html' %}

{% block title %}
    {% trans %}Organizations{% endtrans %}
{% endblock %}

{% block header %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('.firma_list') }}">{% trans %}Admin{% endtrans %}</a></li>
        <li class="active">{% trans %}Organizations{% endtrans %}</li>
        <li><a class="btn btn-default" href="{{ url_for('auth.create_organization') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create Organization{% endtrans %}</a></li>
    </ol>
{% endblock %}

{% block body %}
    <div id="pjax-container">
        {% include 'firma.html' %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
