{% from 'components/table.html' import table_header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/search.html' import search %}

<div class="panel panel-default">
    <div class="panel-heading">
        {{ search(gettext('Search for a Name')) }}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>{{ gettext('Name') }}</th>
                <th>{{ gettext('Set active') }}</th>
                <th>{{ gettext('Time Created') }}</th>
            </tr>
            <tbody>
                {% for g in datatable.query.items %}
                    <tr>
                        <td><a href="{{ url_for('.firma_edit', id=g.id) }}">{{ g.nazev }}</a></td>
                        {% if current_user.default_idfirm == g.id %}
                            <td><a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-success">
                                {%trans %}Active{%endtrans %}
                                </a></td>
                        {% else %}
                            <td><a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-default" href="{{ url_for('.set_active_firm', id=g.id) }}">
                                {%trans %}Set as active{%endtrans %}
                                </a></td>
                        {% endif %}
                        <td>{{ timeago(g.created_ts) }}</td>
                        <td>
                            {% set dialogue = gettext('Are you sure you want to delete {nazev}?').format(nazev=g.nazev) %}
                            <a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-default btn-xs" href="{{ url_for('.firma_delete', id=g.id) }}">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    {%- if request.values.get('query') %}<tr><td colspan="{{ datatable.colspan }}">{{ gettext('No results found for: ')}}{{ request.values.get('query') }}</td></tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{ pagination(datatable.query, datatable.limits) }}
    </div>
</div>
